<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
    http://www.springframework.org/schema/security
    http://www.springframework.org/schema/security/spring-security-4.0.xsd">

    <!--
    <http auto-config="true">
        <intercept-url pattern="/admin**" access="hasRole('ROLE_ADMIN')" />
        <csrf disabled="true" />
    </http>
    -->


    <http auto-config="true"  use-expressions="true">
        <intercept-url pattern="/login" access="permitAll" />
        <intercept-url pattern="/logout" access="permitAll" />
        <intercept-url pattern="/denied" access="permitAll" />
        <!--
        <intercept-url pattern="/**" access="hasRole('ROLE_USER')" />
        -->
        <intercept-url pattern="/admin**" access="hasRole('ROLE_ADMIN')" />
        <intercept-url pattern="/secure/**" access="hasRole('ROLE_USER')" />


        <form-login login-page="/login" default-target-url="/list" authentication-failure-url="/denied" />
        <remember-me
                key="rem-me-key"
                remember-me-parameter="remember-me-param"
                remember-me-cookie="my-remember-me"
                token-validity-seconds="86400"/>
        <logout logout-success-url="/logout" />
    </http>

    <authentication-manager>
        <authentication-provider>
            <user-service>
                <user name="a" password="a" authorities="ROLE_ADMIN" />
                <user name="u" password="u" authorities="ROLE_USER" />
                <user name="r" password="r" authorities="REGISTERED_USER" />
                <user name="m" password="m" authorities="BOOKING_MANAGER" />
            </user-service>
        </authentication-provider>
    </authentication-manager>

    <authentication-manager>
        <authentication-provider>
            <password-encoder hash="bcrypt" />
        </authentication-provider>
    </authentication-manager>

    <beans:bean id="encoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder">
        <beans:constructor-arg name="strength" value="10" />
    </beans:bean>
</beans:beans>